extends layout

block content
  div(class='fondo-animado')
    div(class='container') 
      h1= "Bienvenido"
      img(src="images/teclado.webp", width='200px', height='200px')
      p Ingresa el código
